#our-impact {
    .card {
        display: inline-block;
        position: relative;
        width: 100%;
        // height: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 6px;
        color: rgba(0, 0, 0, 0.87);
        background: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
            0 1px 5px 0 rgba(0, 0, 0, 0.12);

        .card-image {
            // height: 60%;
            position: relative;
            overflow: hidden;
            margin-left: 15px;
            margin-right: 15px;
            margin-top: -30px;
            border-radius: 6px;
            box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12),
                0 8px 10px -5px rgba(0, 0, 0, 0.2);

            img {
                width: 100%;
                height: auto;
                border-radius: 6px;
            }
        }

        .card-body {
            padding: 15px 30px;
            margin-bottom: 0px;

            .card-title {
                margin-top: 1rem;
                font-weight: 700;
            }

            .card-text {
                margin-bottom: 1rem;
            }
        }
    }

    .img-raised {
        box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12),
            0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }
}
